/* base-layout.css */
body {
    background-color: #1e1e1e;
    color: #ddd;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 100%;
    padding: 20px;
}    

/* General Styles */
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
;}

.container:last-of-type {
    padding-bottom: 0px;
}

/* Tabs styling */
.tab-content {
    position: relative;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    height: calc(100vh - 240px);  /* Adjust for correct height */
    display: flex;
    flex-direction: column;
}

.tabs-nav {
    display: flex;
    border-radius: 25px;
    background-color: #2a2a2a;
    padding: 20px;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Layout for sections */
.title-section {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #2a2a2a;
    padding: 20px 20px;
    border-radius: 25px;
    gap: 7.5px;
    box-sizing: border-box;
}

#page_title {
    min-height: 1.5em;
    padding: 0.25em;
}

#page_title:empty:before {
    content: "Enter Custom Title Here...";
    color: #aaa;       /* Lighter color for placeholder */
    pointer-events: none;  /* Ensures clicks go to the contenteditable element */
}

.action-button-section{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    padding: 15px 20px;
    border-radius: 25px;
    gap: 10px;
    box-sizing: border-box;
    min-height: 60px;
}

.circle-section {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: left;
    background-color: #2a2a2a;
    padding: 15px 20px;
    border-radius: 25px;
    gap: 7.5px;
    box-sizing: border-box;
    min-height: 60px;
}

.filter-and-results{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    overflow: hidden;
}

.filter-section {
    flex: 1 1 33%;
    padding: 20px;
    max-width: 450px;
    flex-direction: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #2a2a2a;
    border-radius: 25px;
    overflow-y: auto;
}

.results-section {
    padding: 0px 20px 20px 20px;
    flex: 1 1 66%;
    position: relative;
    background-color: #2a2a2a;
    border-radius: 25px;
    overflow-y: auto;
}

.results-header {
    display: flex;
    justify-content: space-between; 
    align-items: top;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    background: linear-gradient(to bottom, 
        rgba(42, 42, 42, 1) 0%, 
        rgba(42, 42, 42, 1) 50%, 
        rgba(42, 42, 42, 0.75) 75%, 
        rgba(42, 42, 42, 0) 100%
    );
    padding: 20px 0px 0px 0px;
    padding-bottom: 20px;
}

.block {
    position: relative;
    background-color: #444; 
    border: 1px solid #555;
    border-radius: 7px; 
    padding: 15px; 
    margin-bottom: 20px;
}

.block:last-child {
    margin-bottom: 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
  