/* base-layout.css */

/* General Styles */
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%; 
    display: flex;
    gap: 20px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden; /* Default behavior for other containers */
}

.container:first-of-type {
    overflow: visible; /* Prevent clipping of child content for the first container */
}

.container:last-of-type {
    flex-grow: 1; /* Take up remaining vertical space */
    flex-shrink: 0;
    overflow: auto; /* Enable scrolling if content exceeds the space */
}

.title-section {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #2a2a2a;
    padding: 15px 20px;
    border-radius: 25px;
    gap: 7.5px;
    box-sizing: border-box;
}

.circle-section {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    padding: 15px 20px;
    border-radius: 25px;
    gap: 7.5px;
    box-sizing: border-box;
    min-height: 60px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgb(2, 179, 248);
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0;
    box-sizing: border-box;
}

.circle.unfilled {
    background-color: rgba(2, 178, 248, 0.35);
}

/* Layout for sections */
.filter-section, .results-section {
    background-color: #2a2a2a;
    padding: 20px; 
    border-radius: 25px;
    overflow-y: auto;
    max-width: 370px;
}

.filter-section {
    flex: 1 1 33%; 
}

.results-section {
    flex: 1 1 66%;
}

.block {
    position: relative;
    background-color: #444; 
    border: 1px solid #555;
    border-radius: 7px; 
    padding: 15px; 
    margin-bottom: 20px;
}

.block:last-child {
    margin-bottom: 0;
}