/* Colored Button Styling */

.green-button {
    background-color: #4CAF50;
    color: white;
}

.blue-button {
    background-color: #2d81ff;
    color: white;
}

.clear-button {
    background-color: transparent;
    color: white;
}

.green-border-button {
    background-color: transparent;
    border: 2px solid #4CAF50 !important;
    color: white;
}

.orange-button {
    background-color: #f4a261;
    color: white;
}

.red-button {
    background-color: #ff6b6b;
    color: white;
}

/* Hero Button Styles */

.hero-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px;
}

.dice-menu-button {
    width: 41px;
    height: 41px;
}


#Menu_button {
    position: relative;
    z-index: 9999;
    background-color: #444;
    align-items: center;
    justify-content: center;
}

.menu-button-open #menu-icon-default {
    opacity: 0;
    transform: scale(0.8);
}

.menu-button-open #menu-icon-close {
    opacity: 1;
    transform: scale(1);
}

.hero-button svg {
    width: 20px;
    height: 20px;
    stroke: white;
    fill: none;
    stroke-width: 2px;
}

.state-button {
    background-color: #ffF;
    opacity: 0.5;
    color: #333;
}

.state-button.active {
    background-color: #ffF;
    opacity: 1;
}

/* Action Button Styles */

.action-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: white;
}

.add-block-button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: white;
    font-size: 18px;
}

/* General Button Styling */

.button {
    padding: 8px 12px;
    margin-top: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    display: inline-block;
    width: auto;
}

.cleardata-form .button {
    width: 40%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.clear_filters_button {
    padding: 14px;
    height: 35px;
    margin: 6px;
    color: var(--user-color);
    background-color: #06ade4;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.3px;
    transition: background-color 0.6s, transform 0.5s;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.clear_filters_button:hover {
    background-color: #70dbff;
}

#save-block-button {
    background-color: #4CAF50;
    height: 100%;
    color: white;
}

/* Tab buttons */

    .tab-button {
        background: transparent;
        color: #ddd;
        border: 2px solid #333;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
        transition: background 0.3s, color 0.3s, border 0.3s;
    }

    .tab-button:hover {
        border: 2px solid #444;
        background: #444;
    }

    .tab-button.active {
        border: 2px solid #4CAF50;
        background: #4CAF50;
        color: white;
    }

    .tab-button.dragging {
        opacity: 0.5;
    }

/*CIRCLES*/

    :root { --circle-color: #e4e0e0; }

    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: var(--circle-color);
        border-radius: 50%;
        transition: background-color 0.3s, border-color 0.3s;
        margin: 0;
        box-sizing: border-box;
    }

    .circle.unfilled {
        border: 1px solid var(--circle-color);
        background-color: transparent;
    }

    .circle.filled {
        border: 1px solid var(--circle-color);
        background-color: #fff;
    }

    .circle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
        border: 1px solid var(--circle-color);
        transition: background-color 0.3s ease;
    }

    .block-uses .circle {
        height: 18px;
        width: 18px;
    }