/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    opacity: 0;
    margin: 20px;
}

::-webkit-scrollbar-button {
    display: none;
}
