.sort-controls {
    display: flex;
    justify-content: flex-end;  /* Aligns items to the right */
    align-items: top;
    height: auto;
    gap: 10px;  /* Adds spacing between buttons */
}

.sort-controls span {
    font-weight: bold;
    margin-right: 5px;
}

.sort-button {
    color: white;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    background: none;
    border: none;
    height: 20px;
}

.sort-button:hover {
    opacity: 1;
}

.sort-button.selected {
    opacity: 1;
}
