.tag-section{
    display: contents;
    flex-wrap: wrap;
}

.all-tags-container {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* or flex-start if you prefer */
    gap: 8px; /* adjust as needed */
    max-width: 100%;
    padding: 15px 0;
}

#all_tags_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: left;
    max-width: 100%;
    padding: 15px 0px 15px 0px;
}

.tag-category {
    display: contents;
}

.overlay-tags, #dynamic_overlay_tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

[id^="user_tags_list"],
[id^="dynamic_tags_section"] {
    display: flex;
    flex-wrap: wrap;
}

:root {
  --user-color: #e4e0e0;
  --part-color: #CDF564;
  --action-color: #07f371;
  --ability-color: #bf5eff;
  --damage-color: #F037A5;
  --condition-color: #ffa927;
  --spell-color: #2b7bf1;
  --spellLevel-color: #49c1e6;
  --modifier-color: #FF4632;
  --charges-color: #43ffef; 
}

.tag-button {
  padding: 14px;
  height: 35px;
  margin: 6px;
  color: var(--user-color);
  background-color: transparent; /* outlined by default */
  border: 1px solid var(--user-color);
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.3px;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.tag-button:hover { transform: scale(1.05); }

.tag-partType { border-color: var(--part-color); color: var(--part-color);}
.tag-actionType { border-color: var(--action-color); color: var(--action-color);}
.tag-abilityType { border-color: var(--ability-color); color: var(--ability-color);}
.tag-damageType { border-color: var(--damage-color); color: var(--damage-color);}
.tag-conditionType { border-color: var(--condition-color); color: var(--condition-color);}
.tag-spellType { border-color: var(--spell-color); color: var(--spell-color);}
.tag-spellLevel { border-color: var(--spellLevel-color); color: var(--spellLevel-color);}
.tag-modifierType { border-color: var(--modifier-color); color: var(--modifier-color);}
.tag-Charges { border-color: var(--charges-color); color: var(--charges-color);}

.tag-button.selected { background-color: var(--user-color); color: #333; font-weight: bolder;}

.tag-button.selected.tag-partType { background-color: var(--part-color);}
.tag-button.selected.tag-actionType { background-color: var(--action-color);}
.tag-button.selected.tag-abilityType { background-color: var(--ability-color);}
.tag-button.selected.tag-damageType { background-color: var(--damage-color);}
.tag-button.selected.tag-conditionType { background-color: var(--condition-color);}
.tag-button.selected.tag-spellType { background-color: var(--spell-color);}
.tag-button.selected.tag-spellLevel { background-color: var(--spellLevel-color);}
.tag-button.selected.tag-modifierType { background-color: var(--modifier-color);}
.tag-button.selected.tag-Charges { background-color: var(--charges-color);}
