* {
font-family: 'Roboto', sans-serif;
margin: 0; 
padding: 0;
box-sizing: border-box;
}

h1 {
font-size: 1.75rem;
letter-spacing: 0.05em;
}

h2 {
    letter-spacing: 0.05em;
}

h3 {
font-size: 18px;
color: #fff;
}

h4 {
font-size: 18px;
font-weight: Medium;
/* text-transform: uppercase; */
letter-spacing: 0.045em;
color: #fff;
}

.section-header {
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    color: #ffffff;
}

p {
line-height: 1.5em;
}

.highlight {
    background-color: rgba(255, 200, 0, 0.781);
    color: #fff;
    border-radius: 4px;
}