* {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.75rem;
    letter-spacing: 0.05em;
}

h2 {
    letter-spacing: 0.05em;
}

h3 {
    font-size: 18px;
    color: #fff;
}

h4 {
    font-size: 18px;
    font-weight: Medium;
    /* text-transform: uppercase; */
    letter-spacing: 0.045em;
    color: #fff;
}

p {
    line-height: 1.5em;
}

u {
    line-height: 2em;
}

.highlight {
    background-color: rgba(255, 200, 0, 0.781);
    color: #fff;
    border-radius: 4px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    text-decoration: underline;
}
    
a:hover {
    color: #2e7d32;
}